/*!
 * Bootscore custom styles
 */

// Add your own code here!
// Because this file is compiled after Bootstrap, you're also able to use Bootstrap mixins for better code.
// Some examples can be found here: https://bootscore.me/documentation/bootstrap-css-sass

body.wp-child-theme-dmc {
	// nav
	.dmc-navbar {	
		// navbar redesign (hide site logo, restyle home link as logo, tbd)
		@media screen and (min-width: 992px) {
			.navbar-brand {
				display: none !important;
			}
		}

		@media screen and (max-width: 991px) {
			.navbar-brand {
				img {
					width: 130px;
				}
			}
		}

		.nav-toggler {
			border: none;
			color: #060e42;

			.fa-bars {
				font-size: 22px;
			}
		}

		.navbar-nav {
			.nav-link {
				text-transform: lowercase;
				font-weight: 600;
				color: #2637ab;
			}
		}
	}

	// footer
	.dmc-footer {
		.bootscore-footer-columns {
			display: none;
		}
	}


	// default wp overrides
	.entry-content {
		> p {
			max-width: 720px;
		}
	}

	// gutenburg block overrides
	@media screen and (max-width: 600px) {
		.wp-block-media-text {
			> .wp-block-media-text__content {
				padding-left: 0;
				padding-right: 0;
				padding-top: 8%;
			}
		}

	}


	// home page overrides
	&.page-template-page-home {
		// hide footer
		.dmc-footer {
			display: none;
		}

		// hero
		.dmc-hero {
			position: relative;
			overflow: hidden;
			min-height: 400px;

			@media screen and (min-width: 1200px) {
				max-height: 650px;
			}

			.dmc-video-bg {
				&::before {
					content: '';
					position: absolute;
					top: 0;
					width: 100%;
					height: 100%;
					background-color: rgba(0, 0, 0, 0.7);
					z-index: 1;
					backdrop-filter: blur(3px);
				}

				video {
					width: 100%;
					max-width: 100%;
				}
			}

			@media screen and (max-width: 767px) {
				.dmc-video-bg {
					video {
						height: 400px;
						max-width: none;
						width: auto;
					}
				}
			}
		}


		.dmc-site-content.dmc-page-home {
			.entry-content {
				position: absolute;
				z-index: 1;
				top: 50%;
				transform: translateY(-50%);
				left: 25px;

				p {
					max-width: 66%;
					color: #fff;
					font-size: 40px;
					font-style: italic;
				}

				@media screen and (min-width: 1200px) {
					left: 50%;
					transform: translateY(-50%) translateX(-50%);
				}
			}
		}

		.dmc-hpcn {
			margin: 50px 0;
		}
	}


	// about page overrides
	&.page-id-211 {
		.wp-block-image {
			img {
				width: 100%;
				max-width: 600px;
			}
		}

		.wp-block-media-text {
			grid-template-columns: 29% 1fr;

			@media screen and (min-width: 992px) {
				max-width: 80%;
			}
		}
	}


	// projects page plp overrides
	&.page-id-235 {
		.wp-block-list {
			line-height: 24px;

			li {
				margin-bottom: 16px;
			}
		}
	}

	// projects pdp
	.dmc-all-projects-link {
		margin-top: 20px;
		margin-bottom: 40px;

		a {
			text-transform: uppercase;
			font-weight: 700;
			text-decoration: none;
			color: #2637ab;

			&:hover {
				color: #0d1e8e;

				span {
					text-decoration: underline;
				}
			}

			i {
				margin-right: 3px;
			}
		}
	}
}